#header {
float : left;
width : 100%;
height : 50px;
background-color : #EEEEEE;

}
#header > div:nth-child(1) img{
	margin-left : 9.5px;
}
#header div, ul, li{
display : inline-block;
float : left;
}
#header  ul{
	margin-left : 100px;
}
#header ul > li:nth-child(1) a{
font-size : 13px;
color : black;
}
#header ul > li:nth-child(2) img{
	margin-top:10.5px;
}
#header ul > li:nth-child(3) img{
	margin-top:11px;
}
#header ul > li:nth-child(4) a{
color : black;
font-size : 15px;
background-color : #E0E0E0;

}
#header ul > li:nth-child(5) img{
margin-top: 7px;
}

#header > ul a{
	margin-right : 15px;
	line-height : 50px;
}
#search{
	margin-left : 20px;
}

#search input{
width : 589px;
height : 22px;
margin-top : 11px;
}

#search img{
height : 28px;
width : 60px;
		margin-top : 11px;
}
#navigator > span{
float : left;
}
#navigator >span img{
height : 50px;
width: 196px;
}

#navigator {
float : left;
width : 100%;
height : 50px;
position : relative;
}
#navigator div{
display : inline-block;
float : left;
}
#menu{
margin-left : 40px;
line-height : 50px;
color : #AEAEAE;
font-size : 14px;
}
#menu a{
color : #AEAEAE;
font-size : 14px;
margin-left : 18px;
}
#setting img{
display : inline-block;
		  margin-left : 10px;
		  margin-top : 10px;
}
#setting{
	margin-left : 610px;
}

#left_col{
float : left;
background-color : #F0F0F0;
width : 196px;
height : 200px;
}
#category > li a{
color : black;
float : left;
		font-size : 20px;
		margin-left : 50px;
		margin-top : 20px;
}

#aside{
float : left;
background-color : #DFDFDF;
width : 196px;
height : 1026px;
}

#section{
background-color : #DFDFDF;
float : left;
width: 1053px;
}

#section > div > div > dl > dt > a{
color : black;
font-size : 23px;

}
#section > div> div > dl > dd > a{
color : black;
		font-size : 15px;
		line-height : 40px;
float : left;
width : 260px;
}
.plus > a{
display : inline-block;
float : left;
width : 68px;
height : 30px;
color : white;
background-color : #1B8EDA;
text-align : center;
line-height : 35px;
font-size : 14px;
border-radius : 3px;
margin-left : 510px;
}

#bestSellerList > li dt > a, #specialBookList > li dt > a{
	font-size : 15px;
color : black; 
width : 160px;
height : 22px;
display : inline-block;
line-height : 31px;
padding-left : 5px;
overflow : hidden;

}
#bestSellerList > li dl > dd:nth-child(2) > a,
#specialBookList > li dl > dd:nth-child(2) > a{
font-size : 14px;
color : #9C9C9C;
margin-top : 10px;
padding-left : 5px;
}
#bestSellerList > li dl > dd:nth-child(3) > a,
#specialBookList > li dl > dd:nth-child(3) > a{
font-size : 13px;
font-weight : bold;
color : #1F91DA;
float : right;
margin-top : 20px;
margin-right : 5px;
}
#bestSeller > div{
margin-top : 40px;
margin-left : 40px;
}
#bestSellerList{
float : left;
margin-left : 30px;
}
#bestSellerList >li{
float : left;
margin-left: 10px; 
width : 160px;
height : 330px;
display : inline-block;
}
#bestSellerList > li dl, #specialBookList > li dl{
background-color : white;
width : 160px;
height : 85px;
}
#section img{
width : 160px;
height : 245px;
}

#special{
float : left;
display : inline-block;
margin-left: 30px;
margin-top : 40px;
}
#special > div{
margin-left : 10px;
}

#specialBookList > li{
float : left;
margin-left : 10px;
width : 160px;
height: 330px;
display : inline-block;
}

#footer{
float : left;
width : 1053px;
background-color : #DFDFDF;
padding-top : 47px;
}
#footerMenu a,span{
color : black;
		font-size : 13px;
}
#footerMenu, #information, #legalNotification{
margin-left : 40px;
}
#information{
	margin-top : 20px;
}
#information, #information > a{
color : black;
font-size : 13px;
}

#legalNotification{
	font-size : 14px;
}
